.paper {
  -webkit-app-region: drag;
  height: 100vh;
  width: 100vw;
}
.top {
  height:8vh;
  background-image: url(../assets/top_texture.png);
  background-position: 50% 31.5%;
}

.container {
  position: fixed;
  box-shadow: 0 -1px rgb(163 119 50);
  background-color: rgb(255, 255, 255);
  height: 90vh;
  width: 595px;
  left: 2px;
}
.papers {
  overflow: hidden;
  height: 90vh;
  width: 595px;
  position: fixed;
  text-align: left;
  left:15%;
  line-height: 2;
  font-size: 16pt;
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
.scoreColorDe {
  color: rgb(122, 84, 21)
}
.scoreColorSe {
  color: rgb(172, 33, 148)
}
.title {
  height: 5vh;
}
.info {
  height: 10vh;
  font-size: 10pt;
}
.score {
  height: 70vh;
  overflow: hidden;
}
.footer {
  height: 5vh;
  position: fixed;
  bottom: 2vh;
  font-size: 10pt;
}
.leftBorder {
  display: flex;
  position: fixed;
  height: 90vh;
  width: 2px;
  left: 0px;
  background:linear-gradient(rgb(163 119 50),rgb(255,255,255));
}
.rightBorder {
  display: flex;
  position: fixed;
  height: 90vh;
  width: 2px;
  right: 0px;
  background:linear-gradient(rgb(163 119 50),rgb(255,255,255));
}
.m_bg_top {

}



.root {

  -moz-box-shadow: 8px 8px 8px gray;
		-webkit-box-shadow: 8px 8px 8px gray;
		box-shadow: 1px 1px 0px gray;
    border-radius:1%;
    -webkit-background-size: 50px 50px;
		-moz-background-size: 50px 50px;
		background-size: 50px 50px;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-flow: wrap;
}

.online {
  height: 5vh;
    background-color: transparent;
    //color: #000000;
    font-family:  'Consolas','zxfyyt','YouYuan';
    z-index: 5;
  }

  .comeinLastMinute {
    right: 1%;
    position: fixed;
    background-color: transparent;
    font-family:  'Consolas','zxfyyt','YouYuan';
   // color: #000000;
    z-index: 5;
  }

  .c_bg{
    overflow: overlay;
    /* padding-top: 20vh; */
    overflow: hidden;
    height: 72vh;
    z-index: 1;
    width: 100%;
    flex-wrap: wrap;
    -webkit-app-region: drag;
    /* background-image: repeating-radial-gradient(circle at 50% 50%,#e98892 20px, #e98892 20px, #e98892 40px, #e98892 40px, #e98892 60px, #e98892 60px, #e98892 80px, #e98892 80px, #e98892 100px); */
    background: transparent;
    }
    .drag {
      -webkit-app-region: drag;
    }
    ::-webkit-scrollbar{
      display: none;
    }







      .dmName{
        font-family: "YouYuan";
        font-size: 10pt;
        color: rgb(32, 32, 32);
        /* display: flex; */
        /* margin-bottom: 5px; */
        /* align-items: center; */
        /* display: inline-block; */
        align-content: center;
        /* background-color: teal; */
        height: 15%;
        width: 100%;
        z-index: 3;
        transition: all 1s ease-in 0;
        transform: translateY(2vh);
      }

      .chatContainer {
        -webkit-app-region: no-drag;
        background-color: transparent;
        align-content: center;

        width: 99%;

        z-index: 2;
      }
